.pub-content {
  max-width: 600px;
  white-space: normal;  /* Ensure that content inside is treated as normal text */
}

.publication {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  border: 1px solid #ddd;  
  border-radius: 8px;       
  padding: 15px;            
  background-color: #f9f9f9; 
}

.badge {
  background-color: #8a2be2;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 15px;
  font-size: 14px;
  align-self: flex-start; 
}

.pub-content h3 {
  margin: 0 0 10px;
  font-size: 18px;
}

.pub-content p {
  margin: 5px 0;
  line-height: 1.6;  
}

.pub-links {
  margin-top: 10px;
  display: flex;          
  gap: 10px;              
}

.pub-button {
  background-color: #000;
  color: white;
  padding: 5px 10px;
  text-decoration: none;   
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.pub-button:hover {
  background-color: #555;
}

.pub-button:active {
  background-color: #333;
}


